/* RESET */
html, body, header, h1,
ul, li, button,
section, div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

ul {
  list-style: none;
}



/* CLEARFIX */
.group:after {
  content: "";
  display: block;
  clear: both;
}



/* CONTENT */
body {
  font-family: 'Myriad Apple', sans-serif;
  color: #333;
}

.calendar {
  margin: 50px auto;
  border: 8px solid #333;
  border-radius: 10px;
  width: 708px;
}

.date-box {
  float: left;
  border-right: 8px solid #333;
  width: 300px;
  height: 300px;
  background: #eee;
}

header {
  height: 50px;
}

.date-box header {
  display: block;
  background: linear-gradient(#ff3300, #991111);
  border: 2px solid #cc3333;
  border-bottom: 1px dashed #cc3333;
  width: 296px;
  text-align: center;
}

h1 {
  padding: 12px 0px 5px;
  font-size: 24px;
  color: #fff;
}

#date {
  position: relative;
  border-bottom: 2px solid #aaa;
  border-radius: 5px;
  padding-top: 50px;
  text-align: center;
  font-size: 180px;
  font-weight: bold;
  letter-spacing: -10px;
  color: rgba(51, 51, 51, 0.9);
  text-shadow: 5px 3px 6px #fff, 0 0 0 #000;
}

#date:after { /* stacked page effect */
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  position: relative;
  bottom: -8px;
  border-bottom: 2px solid #aaa;
  border-radius: 5px;
}

.month-box {
  float: left;
  width: 400px;
  height: 300px;
}

button {
  width: 70px;
  height: 100%;
  float: left;
  text-align: center;
  font-size: 18px;
  color: #aaa;
  font-weight: bold;
}

.month-box h1 {
  float: left;
  width: 260px;
  padding-top: 15px;
  text-align: center;
  color: #666;
}

.month-dates {
  height: 227px;
  padding: 10px;
}

ul {
  margin: 0 auto;
  padding: 0px 10px;
}

.month-dates .weekdays {
  color: #991111;
  margin-bottom: 10px;
}

li {
  float: left;
  width: 50px;
  height: 20px;
  margin-top: 5px;
  padding-top: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

li.selected {
  color: #fff;
  background: #ff3300;
}

#date-list li {
  cursor: pointer;
  border-right: 1px dashed #ccc;
}
